.main {
    margin-left: 20px;
}

.content-card.app-card {
    aspect-ratio: 1;
    width: 15vw;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    box-sizing: border-box;
}

.content-card.app-card img {
    width: 5vw;
    aspect-ratio: 1;
}

@media (max-width: 1000px) {
    .content-card.app-card {
        width: 30vw;
    }

    .content-card.app-card img {
        width: 15vw;
        aspect-ratio: 1;
    }
}

.content-card.app-card:hover {
    background: linear-gradient(45deg, #e600ff 0%, #00ccff 100%);
}

.app-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}