.main {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.content-card.app-card {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.content-card.app-card:hover {
    background: linear-gradient(45deg, #e600ff 0%, #00ccff 100%);
}